.vheight-100 {
    min-height: 100vh;
}

.navbar-padding {
    padding-left: 1rem;
    padding-right: 1rem;
}

.below-nav {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.r {
    margin-top: 10px;
    margin-bottom: 10px;
    

}
.btn {
    width: auto;
}

.c {
    padding-top: 1rem;
    padding-bottom: 1rem ;
    padding-left: 2rem;
    padding-right: 2rem;
}

.d {
    padding-top: 1rem;
    padding-bottom: 1rem ;
    padding-left: 16rem;
    padding-right: 2rem;
}

.e {
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
.container.doNotLimitWidth {
    max-width: none;
}
