.vheight-100 {
    min-height: 100vh;
}

.navbar-padding {
    padding-left: 1rem;
    padding-right: 1rem;
}

.below-nav {
    padding-top: 5rem;
}
.row {
    margin-top: 10px;
    margin-bottom: 10px;
}
.btn {
    width: auto;
}

.col {
    padding-top: 1rem;
    padding-bottom: 1rem ;
    padding-left: 2rem;
    padding-right: 2rem;
}
